* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_501 {
  width: 100%;
  height: 1454px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_502 {
  width: 996px;
  height: 30px;
  background: url("../images/v1_502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 229px;
  overflow: hidden;
}
.v1_503 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1309px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_504 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1337px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_505 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1366px;
  left: 239px;
  overflow: hidden;
}
.v1_506 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_507 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_508 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1393px;
  left: 239px;
  overflow: hidden;
}
.v1_509 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_510 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_511 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1453px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_512 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1481px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_513 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1510px;
  left: 239px;
  overflow: hidden;
}
.v1_514 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_515 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_516 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1537px;
  left: 239px;
  overflow: hidden;
}
.v1_517 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_518 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_519 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1588px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_520 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1616px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_521 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1645px;
  left: 239px;
  overflow: hidden;
}
.v1_522 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_523 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_524 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1672px;
  left: 239px;
  overflow: hidden;
}
.v1_525 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_526 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_705 {
  width: 891px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1757px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_706 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1785px;
  left: 239px;
  overflow: hidden;
}
.v1_707 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_708 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_709 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1812px;
  left: 239px;
  overflow: hidden;
}
.v1_710 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_711 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_527 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1727px;
  left: 232px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_531 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1859px;
  left: 228px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_532 {
  width: 100%;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1888px;
  left: 235px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_533 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1926px;
  left: 238px;
  overflow: hidden;
}
.v1_534 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_535 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_536 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1951px;
  left: 238px;
  overflow: hidden;
}
.v1_537 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_538 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_539 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1994px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_540 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 2022px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_541 {
  width: 976px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2051px;
  left: 239px;
  overflow: hidden;
}
.v1_542 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_543 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_544 {
  width: 976px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2078px;
  left: 239px;
  overflow: hidden;
}
.v1_545 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_546 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_547 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 2131px;
  left: 235px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_548 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 2159px;
  left: 242px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_555 {
  width: 996px;
  height: 30px;
  background: url("../images/v1_555.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 214px;
  left: 229px;
  overflow: hidden;
}
.v1_556 {
  width: 24px;
  height: 29px;
  background: url("../images/v1_556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v1_557 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1_558 {
  width: 24px;
  height: 24px;
  background: rgba(54,156,123,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_559 {
  width: 320px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 2px;

  font-family: Roboto;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_560 {
  width: 996px;
  height: 44px;
  background: url("../images/v1_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 229px;
  overflow: hidden;
}
.v1_561 {
  width: 983px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_562 {
  width: 530px;
  height: 36px;
  background: rgba(242,242,242,1);
  padding: 7px 51px;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 180px;
  overflow: hidden;
}
.v1_563 {
  width: 414px;
  color: rgba(238,101,46,1);
  position: absolute;
  top: 7px;
  left: 52px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_564 {
  width: 530px;
  height: 36px;
  background: rgba(242,242,242,1);
  padding: 7px 79px;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 731px;
  overflow: hidden;
}
.v1_565 {
  width: 380px;
  color: rgba(91,91,91,1);
  position: absolute;
  top: 7px;
  left: 80px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_566 {
  width: 11px;
  height: 14px;
  background: url("../images/v1_566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 1197px;
  overflow: hidden;
}
.v1_567 {
  width: 10px;
  height: 11px;
  background: url("../images/v1_567.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_568 {
  width: 10px;
  height: 11px;
  background: rgba(238,101,45,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_569 {
  width: 46px;
  color: url("../images/v1_569.png");
  position: absolute;
  top: 76px;
  left: 1208px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_570 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 246px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_571 {
  width: 60px;
  height: 60px;
  background: url("../images/v1_571.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 180px;
  overflow: hidden;
}
.v1_572 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 467px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_573 {
  width: 96px;
  height: 34px;
  background: rgba(51,122,183,1);
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 1059px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
.v1_574 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_574.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 13px;
  overflow: hidden;
}
.v1_575 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_576 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_577 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 25px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_578 {
  width: 70px;
  height: 34px;
  background: rgba(51,122,183,1);
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 1154px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_579 {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 17px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_580 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_580.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 46px;
  overflow: hidden;
}
.v1_581 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_581.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_582 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_687 {
  width: 996px;
  height: 158px;
  background: url("../images/v1_687.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2135px;
  left: 229px;
  overflow: hidden;
}
.v1_688 {
  width: 129px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 19px;
  left: 10px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_689 {
  width: 107px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 19px;
  left: 882px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v1_690 {
  width: 976px;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 10px;

  overflow: hidden;
}

/* 스크롤바의 디자인을 변경하려면, 아래의 속성들을 수정해주세요 */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

/* 선택한 값을 출력하는 <span> 태그의 디자인을 변경하려면, 아래의 속성들을 수정해주세요 */
span#range-value {
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
}






.v1_691 {
  width: 35px;
  height: 35px;
  background: url("../images/v1_691.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1px;
  overflow: hidden;
}
.v1_0 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 25px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_1 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 210px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}

.v1_694 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 400px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_696 {
  width: 20px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 580px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_698 {
  width: 19px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 775px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_700 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 77px;
  left: 971px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
