* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_198 {
  width: 100%;
  height: 1453px;
  background: rgba(255,255,255,1);
  opacity: 1;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_368 {
  width: 11px;
  height: 14px;
  background: url("../images/v1_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 1197px;
  overflow: hidden;
}
.v1_369 {
  width: 10px;
  height: 11px;
  background: url("../images/v1_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_370 {
  width: 10px;
  height: 11px;
  background: rgba(238,101,45,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_371 {
  width: 46px;
  color: url("../images/v1_371.png");
  position: absolute;
  top: 76px;
  left: 1208px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_221 {
  width: 530px;
  height: 36px;
  background: rgba(242,242,242,1);
  padding: 7px 51px;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 180px;
  overflow: hidden;
}
.v1_222 {
  width: 414px;
  color: rgba(238,101,46,1);
  position: absolute;
  top: 7px;
  left: 52px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_223 {
  width: 530px;
  height: 36px;
  background: rgba(242,242,242,1);
  padding: 7px 79px;
  opacity: 1;
  position: absolute;
  top: 124px;
  left: 731px;
  overflow: hidden;
}
.v1_224 {
  width: 380px;
  color: rgba(91,91,91,1);
  position: absolute;
  top: 7px;
  left: 80px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_227 {
  width: 996px;
  height: 30px;
  background: url("../images/v1_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 229px;
  overflow: hidden;
}
.v1_228 {
  width: 24px;
  height: 29px;
  background: url("../images/v1_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
  overflow: hidden;
}
.v1_229 {
  width: 24px;
  height: 24px;
  background: url("../images/v1_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v1_230 {
  width: 24px;
  height: 24px;
  background: rgba(54,156,123,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_231 {
  width: 320px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 2px;

  font-family: Roboto;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v1_232 {
  width: 996px;
  height: 44px;
  background: url("../images/v1_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 229px;
  overflow: hidden;
}
.v1_233 {
  width: 983px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_326 {
  width: 996px;
  height: 158px;
  background: url("../images/v1_326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1110px;
  left: 229px;
  overflow: hidden;
}
.v1_327 {
  width: 129px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 19px;
  left: 10px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_328 {
  width: 113px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 20px;
  left: 691px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: right;
}
.v1_329 {
  width: 791px;
  height: 10px;
  background: rgba(211,215,215,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_330 {
  width: 35px;
  height: 35px;
  background: url("../images/v1_330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1px;
  overflow: hidden;
}
.v1_331 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 25px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_332 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 120px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_333 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 213px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_334 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 307px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_335 {
  width: 20px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 400px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_336 {
  width: 27px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 491px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_337 {
  width: 19px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 580px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_338 {
  width: 18px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 673px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_339 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 97px;
  left: 772px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_716 {
  width: 496px;
  height: 10px;
  background: rgba(211,215,215,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 229px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_717 {
  width: 35px;
  height: 35px;
  background: url("../images/v1_717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1px;
  overflow: hidden;
}
.v1_718 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 244px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_719 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 339px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_720 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 432px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_721 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 526px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_722 {
  width: 20px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 619px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_723 {
  width: 27px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 710px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_724 {
  width: 19px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 799px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_725 {
  width: 18px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 892px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_726 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 991px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_727 {
  width: 22px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 1076px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_728 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 429px;
  left: 1175px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v1_732 {
  width: 496px;
  height: 10px;
  background: rgba(211,215,215,1);
  opacity: 1;
  position: absolute;
  top: 531px;
  left: 229px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v1_733 {
  width: 35px;
  height: 35px;
  background: url("../images/v1_733.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1px;
  overflow: hidden;
}
.v1_734 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 566px;
  left: 244px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_735 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 566px;
  left: 339px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_736 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 566px;
  left: 432px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_737 {
  width: 8px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 526px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_738 {
  width: 20px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 619px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_739 {
  width: 27px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 710px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_740 {
  width: 19px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 799px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_741 {
  width: 18px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 892px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_742 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 991px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_743 {
  width: 22px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 1076px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_744 {
  width: 15px;
  color: rgba(155,155,155,1);
  position: absolute;
  top: 561px;
  left: 1175px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v1_355 {
  width: 96px;
  height: 34px;
  background: rgba(51,122,183,1);
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 1059px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
.v1_356 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 13px;
  overflow: hidden;
}
.v1_357 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_357.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_358 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_359 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 25px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_360 {
  width: 70px;
  height: 34px;
  background: rgba(51,122,183,1);
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 1155px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v1_361 {
  width: 24px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 17px;
  font-family: Arial;
  font-weight: Narrow;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v1_362 {
  width: 12px;
  height: 14px;
  background: url("../images/v1_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 46px;
  overflow: hidden;
}
.v1_363 {
  width: 11px;
  height: 11px;
  background: url("../images/v1_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  overflow: hidden;
}
.v1_364 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_367 {
  width: 209px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 246px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_372 {
  width: 60px;
  height: 60px;
  background: url("../images/v1_372.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 180px;
  overflow: hidden;
}
.v1_374 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 68px;
  left: 467px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1_584 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 309px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_585 {
  width: 979px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 338px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_592 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 453px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_593 {
  width: 964px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 485px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_600 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 588px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_601 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 616px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_602 {
  width: 976px;
  height: 22px;
  background: url("../images/v1_602.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 239px;
  overflow: hidden;
}
.v1_603 {
  width: 23px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_604 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_605 {
  width: 976px;
  height: 22px;
  background: url("../images/v1_605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 239px;
  overflow: hidden;
}
.v1_606 {
  width: 18px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 3px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_607 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_624 {
  width: 976px;
  height: 22px;
  background: url("../images/v1_624.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 781px;
  left: 236px;
  overflow: hidden;
}
.v1_625 {
  width: 40px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_626 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_627 {
  width: 976px;
  height: 22px;
  background: url("../images/v1_627.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 808px;
  left: 236px;
  overflow: hidden;
}
.v1_628 {
  width: 26px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v1_629 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v1_608 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 727px;
  left: 232px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_609 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 755px;
  left: 239px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_613 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 862px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_630 {
  width: 282px;
  color: rgba(54,156,123,1);
  position: absolute;
  top: 1067px;
  left: 229px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_631 {
  width: 788px;
  color: rgba(119,119,119,1);
  position: absolute;
  top: 1095px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v13_126 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 901px;
  left: 256px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_127 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 236px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_128 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 928px;
  left: 256px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_129 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 932px;
  left: 236px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_130 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 955px;
  left: 256px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_131 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 959px;
  left: 236px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_132 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 982px;
  left: 256px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_133 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 986px;
  left: 236px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_134 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 901px;
  left: 363px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_135 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 343px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_136 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 928px;
  left: 363px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_137 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 932px;
  left: 343px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_138 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 955px;
  left: 363px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_139 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 959px;
  left: 343px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_140 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 982px;
  left: 363px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_141 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 986px;
  left: 343px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_142 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 901px;
  left: 471px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_143 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 451px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_144 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 928px;
  left: 471px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_145 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 932px;
  left: 451px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_146 {
  width: 176px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 929px;
  left: 576px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_147 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 933px;
  left: 556px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_148 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 955px;
  left: 471px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_149 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 959px;
  left: 451px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_150 {
  width: 68px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 982px;
  left: 471px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_151 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 986px;
  left: 451px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v13_152 {
  width: 84px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 901px;
  left: 576px;
  font-family: Arial;
  font-weight: Narrow Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v13_153 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 556px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
