<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Arial&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="/static/css/question_page3.css" rel="stylesheet" />
    <title>question_page3</title>
</head>

<body>
    <div class="v1_198">
        <div class="v1_368">
            <div class="v1_369">
                <div class="v1_370"></div>
            </div>
        </div><span class="v1_371"> Log-in </span>
        <div class="v1_221"><span class="v1_222">Health Questions</span></div>
        <div class="v1_223"><span class="v1_224">Safe Heart Disease Prediction Results</span></div>
        <div class="v1_227">
            <div class="v1_228">
                <div class="v1_229">
                    <div class="v1_230"></div>
                </div>
            </div><span class="v1_231">Health Questions</span>
        </div>
        <div class="v1_232"><span class="v1_233">These are questions to determine whether you have heart disease or not.
                Please answer carefully and honestly.</span></div>
        <div class="v1_326"><span class="v1_327">Low income</span><span class="v1_328">High income</span>
            <div class="v1_329">
                <div class="v1_330"></div>
            </div><span class="v1_331">0</span><span class="v1_332">1</span><span class="v1_333">2</span><span
                class="v1_334">3</span><span class="v1_335">4</span><span class="v1_336">5</span><span
                class="v1_337">6</span><span class="v1_338">7</span><span class="v1_339">8</span>
        </div>
        <div class="v1_716">
            <div class="v1_717"></div>
        </div><span class="v1_718">0</span><span class="v1_719">3</span><span class="v1_720">6</span><span
            class="v1_721">9</span><span class="v1_722">12</span><span class="v1_723">15</span><span
            class="v1_724">18</span><span class="v1_725">21</span><span class="v1_726">24</span><span
            class="v1_727">27</span><span class="v1_728">30</span>
        <div class="v1_732">
            <div class="v1_733"></div>
        </div><span class="v1_734">0</span><span class="v1_735">3</span><span class="v1_736">6</span><span
            class="v1_737">9</span><span class="v1_738">12</span><span class="v1_739">15</span><span
            class="v1_740">18</span><span class="v1_741">21</span><span class="v1_742">24</span><span
            class="v1_743">27</span><span class="v1_744">30</span>
        <div class="v1_355">
            <div class="v1_356">
                <div class="v1_357">
                    <div class="v1_358"></div>
                </div>
            </div><span class="v1_359"> Previous</span>
        </div>
        <div class="v1_360"><span class="v1_361">Submit </span>
            <div class="v1_362">
                <div class="v1_363">
                    <div class="v1_364"></div>
                </div>
            </div>
        </div><span class="v1_367">CheckMyHeart</span>
        <div class="v1_372"></div><span class="v1_374">Safe Heart Disease Checker</span><span class="v1_584">Mental
            health</span><span class="v1_585">Now thinking about your mental health, which includes stress, depression,
            and problems with emotions, for how many days during the past 30 days was your mental health not good?
        </span><span class="v1_592">Physical health</span><span class="v1_593">Now thinking about your physical health,
            which includes physical illness and injury, for how many days during the past 30 days was your physical
            health not good?</span><span class="v1_600">Difficult walk</span><span class="v1_601">Do you have serious
            difficulty walking or climbing stairs?</span>
        <div class="v1_602"><span class="v1_603">Yes</span>
            <div class="v1_604"></div>
        </div>
        <div class="v1_605"><span class="v1_606">No</span>
            <div class="v1_607"></div>
        </div>
        <div class="v1_624"><span class="v1_625">Female</span>
            <div class="v1_626"></div>
        </div>
        <div class="v1_627"><span class="v1_628">Male</span>
            <div class="v1_629"></div>
        </div><span class="v1_608">Sex</span><span class="v1_609">Check your sex.</span><span
            class="v1_613">Age</span><span class="v1_630">Income</span><span class="v1_631">Check your income
            states.</span><span class="v13_126">Age 18 to 24</span>
        <div class="v13_127"></div><span class="v13_128">Age 25 to 29</span>
        <div class="v13_129"></div><span class="v13_130">Age 30 to 34</span>
        <div class="v13_131"></div><span class="v13_132">Age 35 to 39</span>
        <div class="v13_133"></div><span class="v13_134">Age 40 to 44</span>
        <div class="v13_135"></div><span class="v13_136">Age 45 to 49</span>
        <div class="v13_137"></div><span class="v13_138">Age 50 to 54</span>
        <div class="v13_139"></div><span class="v13_140">Age 55 to 59</span>
        <div class="v13_141"></div><span class="v13_142">Age 60 to 64</span>
        <div class="v13_143"></div><span class="v13_144">Age 65 to 69</span>
        <div class="v13_145"></div><span class="v13_146">Don't Know / Refused to answer</span>
        <div class="v13_147"></div><span class="v13_148">Age 70 to 74</span>
        <div class="v13_149"></div><span class="v13_150">Age 75 to 79</span>
        <div class="v13_151"></div><span class="v13_152">Age 80 or older</span>
        <div class="v13_153"></div>
    </div>
</body>

</html>